# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignTrailingComments: true
